PORT=5000
CLIENT_ORIGIN=http://localhost:5173
TAVILY_API_KEY=
TAVILY_BASE_URL=https://api.tavily.com
ALPHAVANTAGE_API_KEY=
ALPHAVANTAGE_BASE_URL=https://www.alphavantage.co/query
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta